name: "CI/CD: Test and Build"

on:
  push:
    branches:
      - main
    paths:
      - 'Dockerfile'
      - 'cloudbuild.yaml'
      - 'src/**'
      - 'api/**' # Added api/ to trigger on changes there
      - 'requirements.txt'
  workflow_dispatch:

jobs:
  pytest-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11
        cache: "pip"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements_tests.txt
    - name: Test with pytest
      run: |
        pytest tests/ -v --tb=short    

  docker-build-and-push:
    runs-on: ubuntu-latest
    needs: pytest-test
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Authenticate with Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: '${{ secrets.GCP_SA_KEY }}'

    - name: Set up Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}

    # THIS STEP TRIGGER THE CLOUDBUILD.YAML
    - name: Submit to Cloud Build
      run: |
        gcloud builds submit --config cloudbuild.yaml \
          --service-account="projects/${{ secrets.GCP_PROJECT_ID }}/serviceAccounts/fraud-api-reader@${{ secrets.GCP_PROJECT_ID }}.iam.gserviceaccount.com" \
          --substitutions=_SHORT_SHA=$(git rev-parse --short HEAD) .